<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Video Stream</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/normalize.css@8.0.1/normalize.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/concrete.css@2.1.1/concrete.css"
    />
  </head>
  <body>
    <a href="/">back</a>
    <ul>
      {% for folder in folders %}
      <a href="/play/{{ folder }}">{{ folder }}</a>
      {% endfor %}
    </ul>
  </body>
</html>
