<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Play Video</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/normalize.css@8.0.1/normalize.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/concrete.css@2.1.1/concrete.css"
    />
    <style>
      body {
        margin: 0;
        padding: 0;
        overflow: hidden;
      }
      #video-container {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 100vw;
        height: 100vh;
      }
      video {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
      }
      button {
        width: 100%;
      }
    </style>
  </head>
  <body>
    <a href="/logs">logs</a>
    <br />
    <br />
    <div id="video-container">
      <video controls playsinline>
        <source
          src="{{ url_for('serve_video', video_path=video_path) }}"
          type="video/mp4"
        />
        Your browser does not support the video tag.
      </video>
    </div>
  </body>
</html>
